<style>
    .body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: rgb(44, 109, 109);
    }
  
    button {
      margin-top: 5px;
    }
  
    h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 50px;
      color: rgb(51, 51, 51);
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-bottom: 30px;
    }
  
    #card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70vh;
      width: 70vh;
      border-radius: 20px;
      background-color: rgb(172, 209, 209);
    }
  
    .btn {
      background-color: rgb(51, 51, 51);
      width: 20vh;
      height: 7vh;
      color: rgb(172, 209, 209);
      border: 3px solid rgb(44, 109, 109);
    }
  
    .btn:hover {
      background-color: rgba(51, 51, 51, 0.644);
      width: 20vh;
      height: 7vh;
      color: rgb(172, 209, 209);
      border: 3px solid rgb(44, 109, 109);
    }

  
  </style>
  <div class="body">
  
    <div id="card">
      <h1>BANCO FELIZ</h1>
      <button class="btn" routerLink="/login">Iniciar Sessão</button>
      <button class="btn"  routerLink="/register">Registar</button>
    </div>
  
  </div>
  
